* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: black;
}

button,
select,
input {
    font-family: "Inter", sans-serif;
}

.inter-bold {
    font-weight: 700;
}

.inter-s-bold {
    font-weight: 600;
}

.inter-thin {
    font-weight: 100;
}

.inter-light {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
}

button {
    font-size: 10px;
    color: white;
    width: 126px;
    height: 48px;
    border: none;
    background-color: #1B3B6F;
    border-radius: 3px;
}

h1 {
    font-size: 42px;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

header {
    background-color: #19242F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px calc((100% - 89%) / 2);
}

.header>a {
    font-size: 20px;
}

.header-links {
    display: flex;
    color: #A2ABB5;
    font-size: 14px;
    gap: 55px;
}

.burger-icon {
    display: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.hello-window {
    height: 394px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-page>.hello-window {
    background-image: url('img/main/hello-windows.png');
}

.hello-window>h1 {
    width: 1148px;
    color: white;
}

.search {
    display: flex;
    justify-content: center;

}

.search>form {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.search>form {
    font-size: 14px;
    color: #575757;
}

.search__where {
    width: 250px;
}

.search>form input {
    background: none;
    border: none;
    width: 200px;
}

.search>form input:focus {
    outline: none;
}

.search__parameters {
    display: flex;
    gap: 75px;
}

.search__where,
.search__select-date,
.search-search__persons,
.search-search__kids {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search>form input[type="date"],
.search>form select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-label {
    display: inline-block;
    cursor: pointer;
}

.small-recomendations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 43px;
}

.small-recomendation__block {
    width: 272px;
    height: 100%;
    border-radius: 12px;
    background-color: #ECECEC;
    color: #575757;
    font-size: 12px;
}

.small-recomendation__block p {
    padding: 10px 0 14px 20px;
}

.the-best-offers-of-the-company {
    margin-top: 113px;
}

.the-best-offers-of-the-company__blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 21px;
    margin-top: 31px;
}

.the-best-offers-of-the-company__block {
    width: 417px;
    height: 100%;
    background-color: #D9D9D9;
    padding-bottom: 24px;
}

.the-best-offers-of-the-company__block p {
    padding: 0 30px;
}

.the-best-offers-of-the-company__block p:first-of-type {
    letter-spacing: 2px;
    font-size: 10px;
    margin-top: 29px;
}

.the-best-offers-of-the-company__block p:nth-of-type(2) {
    font-size: 20px;
    margin-top: 18px;
}

.the-best-offers-of-the-company__block p:nth-of-type(3) {
    font-size: 15px;
    margin-top: 42px;
    line-height: 24px;
}

.the-best-offers-of-the-company__block button {
    margin-top: 65px;
}

.the-best-offers-of-the-company__block a {
    display: flex;
    justify-content: center;
}

.the-best-offers-of-the-company__blocks>.the-best-offers-of-the-company__block:last-of-type button {
    margin-top: 41px;
}

.popular-sections {
    margin-top: 150px;
}

.popular-sections__blocks {
    display: grid;
    grid-template-columns: 372px 317px 417px;
    grid-template-rows: 249px 149px 358px;
    gap: 21px;
    justify-content: center;
    margin-top: 31px;
    margin-bottom: 239px;
}

.popular-sections__block {
    background-image: url('img/main/popular-hotels.png');
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.popular-sections__blocks>.popular-sections__block:nth-of-type(2) {
    background-image: url('img/main/tourist-spots.png');
    grid-row: 1;
    grid-column: 3;
}

.popular-sections__blocks>.popular-sections__block:nth-of-type(3) {
    background-image: url('img/main/ski-resorts.png');
    grid-row: 3;
    grid-column: 1;
}

.popular-sections__blocks>.popular-sections__block:nth-of-type(4) {
    background-image: url('img/main/therapeutic-rest.png');
    grid-row: 3;
    grid-column: 2;
}

.popular-sections__blocks>.popular-sections__block:nth-of-type(5) {
    background-image: url('img/main/cheap-hotels.png');
    grid-row: 2 / 4;
    grid-column: 3;
}

.contact-number {
    font-size: 14px;
    color: white;
    background-color: #2B3540;
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.footer-links {
    padding: 55px calc((100% - 1188px) / 2) 173px;
    background-color: #19242F;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
}

.footer-link__block p {
    font-size: 12px;
    letter-spacing: 1.7px;
    margin-bottom: 28px;
    color: white;
}

.footer-link__block-links {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer-link__block-links a {
    font-size: 12px;
    letter-spacing: 1.7px;
}

.footer-additionally {
    background-color: #2B3540;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    padding: 24px 0 45px;
}

.footer-additionally__links {
    gap: 70px;
    font-size: 12px;
    letter-spacing: 1.7px;
    display: flex;
}

.footer-additionally__social-networks {
    display: flex;
    gap: 60px;
}

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: calc(100vh - 144px);
}

.sign-up>p {
    font-size: 14px;
    color: #575757;
}

.sign-up>form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-up>form input {
    padding-left: 8px;
    width: 297px;
    height: 55px;
    font-size: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.sign-up a {
    color: #1B3B6F;
    font-size: 10px;
    text-align: right;
}

.sign-up>form button {
    align-self: center;
    margin-top: 5px;
}

/* hotels.html */
.hotels-page>.hello-window {
    background-image: url('img/hotels/welcome-background.png');
}

.hotels-page>.hello-window h1 {
    color: #19242F;
}

.filter-buttons {
    margin-top: 64px;
    padding: 0 calc((100% - 1440px) / 2);
    display: flex;
    gap: 20px;
}

.filter-buttons button {
    height: 51px;
    font-size: 14px;
}

.filter-buttons>button:nth-child(2),
.filter-buttons>button:nth-child(3) {
    height: 51px;
    width: 126px;
    border: 1px solid #1B3B6F;
    color: #575757;
    background: none;
}

.choice-hotel__blocks {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 95px;
}

.choice-hotel__blocks-block {
    width: 1294px;
    display: grid;
    grid-template-columns: 52% 42%;
    gap: 6%;
    background-color: #D9D9D9;
}

.choice-hotel__blocks-block>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.choice-hotel__blocks-block__information {
    width: 100%;
    height: 406px;
    padding: 39px 0 35px;
    position: relative;
}

.choice-hotel__blocks-block__information p {
    width: 355px;
}

.choice-hotel__blocks-block__information p:first-child {
    font-size: 20px;
}

.choice-hotel__blocks-block__information p:nth-child(2) {
    letter-spacing: 2px;
    font-size: 10px;
    margin-top: 9px;
}

.choice-hotel__blocks-block__information p:nth-child(3) {
    font-size: 15px;
    margin-top: 16px;
    line-height: 24px;
}

.choice-hotel__blocks-block__information-features {
    position: absolute;
    top: 270px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.choice-hotel__blocks-block__information-feature {
    display: flex;
    align-items: center;
    gap: 8px;

}

.choice-hotel__blocks-block__information-feature__block-img {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-hotel__blocks-block__information-feature p {
    font-size: 14px;
    font-weight: 200;
}

.choice-hotel__blocks-block__information button {
    width: 190px;
    position: absolute;
    top: 82%;
    right: 116px;
}

.choice-hotel__more-offers {
    width: 190px;
    font-weight: 900;
    margin-top: 45px;
}

/* directions.html */
.directions-page>.hello-window {
    background-image: url('img/directions/welcome-background.png');
}

.directions>p {
    color: #575757;
    font-size: 30px;
    padding: 0 calc((100% - 1440px) / 2);
    margin-top: 82px;
    margin-bottom: 49px;
}

.directions-blocks {
    display: grid;
    grid-template-columns: 418px 419px 271px 125px;
    grid-template-rows: 163px 424px 603px 563px;
    gap: 21px;
    justify-content: center;
    margin-bottom: 340px;
}

.directions-blocks__block {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.directions-blocks__block p {
    text-align: center;
    font-size: 20px;
    color: white;
}

.directions-blocks__block:nth-child(1) {
    background-image: url('img/directions/europe.png');
    grid-column: 1/3;
    grid-row: 1/3;
}

.directions-blocks__block:nth-child(2) {
    background-image: url('img/directions/asia.png');
    grid-column: 3;
    grid-row: 1;
}

.directions-blocks__block:nth-child(3) {
    background-image: url('img/directions/afrika.png');
    grid-column: 4;
    grid-row: 1;
}

.directions-blocks__block:nth-child(4) {
    background-image: url('img/directions/australia.png');
    grid-column: 3/5;
    grid-row: 2;
}

.directions-blocks__block:nth-child(5) {
    background-image: url('img/directions/west-america.png');
    grid-column: 1;
    grid-row: 3;
}

.directions-blocks__block:nth-child(6) {
    background-image: url('img/directions/middle-east.png');
    grid-column: 2;
    grid-row: 3;
}

.directions-blocks__block:nth-child(7) {
    background-image: url('img/directions/north-america.png');
    grid-column: 3/5;
    grid-row: 3;
}

.directions-blocks__block:nth-child(8) {
    background-image: url('img/directions/middle-america.png');
    grid-column: 1/5;
    grid-row: 4;
}

/* travel-guide.html */
.travel-guide-page>.hello-window {
    background-image: url('img/travel-guide/welcome-background.png');
}

.travel-guide {
    margin-bottom: 260px;
}

.travel-guide>p {
    color: #575757;
    font-size: 30px;
    padding: 0 calc((100% - 1440px) / 2);
    margin-top: 82px;
    margin-bottom: 79px;
}

.travel-guide__more-offers {
    width: 190px;
    font-weight: 900;
}

.travel-guide__blocks {
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
}

.travel-guide__blocks-block {
    width: 1148px;
    padding: 13px 20px;
    display: flex;
    gap: 54px;
    background-color: #D9D9D9;
    border-radius: 12px;
}

.travel-guide__blocks-block__information {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 37px;
}

.travel-guide__blocks-block__information p {
    font-size: 30px;
    width: 400px;
    height: 216px;
}

.travel-guide__blocks-block__information a {
    align-self: flex-end;
    margin-right: 135px;
    margin-top: 30px;
}

.travel-guide__blocks-block__information button {
    width: 190px;
}

@media (max-width: 1450px) {
    .header-links {
        gap: 30px;
    }

    .search__parameters {
        gap: 30px;
    }

    .search>form {
        width: 900px;
    }

    .the-best-offers-of-the-company__blocks {
        gap: 15px;
    }

    .the-best-offers-of-the-company__block,
    .the-best-offers-of-the-company__block img {
        width: 350px;
    }

    .the-best-offers-of-the-company__block:nth-of-type(2) button {
        margin-top: 89px;
    }

    .the-best-offers-of-the-company__block button {
        margin-top: 65px;
    }

    .the-best-offers-of-the-company__block button {
        margin-top: 65px;
    }

    .popular-sections__blocks {
        gap: 15px;
    }

    /* hotels.html */
    .filter-buttons {
        padding: 0 calc((100% - 900px) / 2);

    }

    .choice-hotel__blocks-block {
        width: 900px;
        grid-template-columns: 52% 42%;
        gap: 6%;
        background-color: #D9D9D9;
    }

    /* directions.html */
    .directions>p {
        padding: 0 calc((100% - 900px) / 2);
    }

    .directions-blocks {
        grid-template-columns: 290px 290px 188px 86px;
        grid-template-rows: 113px 294px 419px 391px;
        gap: 15px;
    }

    /* travel-guide.html */
    .travel-guide>p {
        padding: 0 calc((100% - 900px) / 2);
    }
}

@media (max-width: 1200px) {
    .hello-window h1 {
        width: 700px;
    }

    .the-best-offers-of-the-company__block,
    .the-best-offers-of-the-company__block img {
        width: 282px;
    }

    .the-best-offers-of-the-company__block {
        padding-bottom: 15Px;
    }

    .the-best-offers-of-the-company__block p:nth-of-type(2) {
        margin-top: 5px;
    }

    .the-best-offers-of-the-company__block p:nth-of-type(3) {
        margin-top: 15px;
    }

    .the-best-offers-of-the-company__block button {
        margin-top: 39px;
    }

    .the-best-offers-of-the-company__block:nth-of-type(2) button {
        margin-top: 63px;
    }

    .the-best-offers-of-the-company__blocks>.the-best-offers-of-the-company__block:last-of-type button {
        margin-top: 15px;
    }

    .popular-sections__blocks {
        grid-template-columns: 291px 248px 327px;
        grid-template-rows: 195px 113px 280px;
        gap: 16px;
    }

    .footer-links {
        padding: 55px calc((100% - 650px) / 2) 173px;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    /* travel-guide.html */

    .travel-guide {
        margin-bottom: 90px;
    }

    .travel-guide>p {
        margin-top: 70px;
        margin-bottom: 60px;
    }


    .travel-guide__blocks-block {
        width: 510px;
        padding: 20px 20px;
        flex-direction: column;
        gap: 25px;
    }

    .travel-guide__blocks-block__information {
        margin-top: 0px;
    }

    .travel-guide__blocks-block__information p {
        align-self: center;
        height: 190px;
    }

    .travel-guide__blocks-block__information a {
        align-self: center;
        margin-right: 0px;
        margin-top: 30px;
    }


}

@media (max-width: 950px) {
    header {
        position: fixed;
        width: calc(100% - 11%);
        z-index: 1;
    }

    .burger-icon {
        display: block;
    }

    .header-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #19242F;
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding-bottom: 15px;
    }

    .burger-icon {
        position: relative;
        left: 36px;
    }

    #menu-toggle:checked+.burger-icon+.header-links {
        display: flex;
    }

    .hello-window h1 {
        width: 550px;
    }

    .search>form {
        width: 550px;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .search__where {
        width: 203px;
        gap: 5px;
    }

    .search__parameters {
        gap: 10px;
    }

    .search__where,
    .search__select-date,
    .search-search__persons,
    .search-search__kids {
        gap: 5px;
    }

    .popular-sections__blocks {
        display: grid;
        grid-template-columns: 280px 250px;
        grid-template-rows: 195px 172px 224px;
        gap: 10px;
        justify-content: center;
        margin-top: 31px;
        margin-bottom: 239px;
    }

    .popular-sections__block {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .popular-sections__blocks>.popular-sections__block:nth-of-type(2) {
        grid-row: 1;
        grid-column: 2;
    }

    .popular-sections__blocks>.popular-sections__block:nth-of-type(3) {
        grid-row: 3;
        grid-column: 1;
    }

    .popular-sections__blocks>.popular-sections__block:nth-of-type(4) {
        grid-row: 2;
        grid-column: 2;
    }

    .popular-sections__blocks>.popular-sections__block:nth-of-type(5) {
        grid-row: 3;
        grid-column: 2;
    }

    .footer-links {
        padding: 55px calc((100% - 550px) / 2) 105px;
    }

    .footer-additionally__links {
        gap: 20px;
        text-align: center;
    }

    /* hotels.html */
    .filter-buttons {
        padding: 0 calc((100% - 550px) / 2);

    }

    .choice-hotel__blocks-block {
        width: 550px;
        grid-template-columns: 100%;
        grid-template-rows: 370px 454px;
        gap: 28px;
    }

    .choice-hotel__blocks-block__information {
        grid-row: 2;
        height: 100%;
        width: 452px;
        padding: 0 48px;
    }

    .choice-hotel__blocks-block__information button {
        right: 48px;
    }

    /* directions.html */

    .directions>p {
        padding: 0 calc((100% - 550px) / 2);
    }

    .directions-blocks {
        grid-template-columns: 177px 178px 83px 85px;
        grid-template-rows: 69px 180px 256px 239px;
        gap: 9px;
    }

    /* travel-guide.html */
    .travel-guide>p {
        padding: 0 calc((100% - 550px) / 2);
    }
}


@media (max-width: 600px) {
    .search>form {
        gap: 15px;
        width: 380px;
    }

    .the-best-offers-of-the-company,
    .popular-sections {
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .the-best-offers-of-the-company>h2 {
        width: 345px;
    }

    .popular-sections__blocks {
        grid-template-columns: 185px 185px;
        grid-template-rows: 220px 362px 209px 224px;
        margin-bottom: 150px;
    }

    .popular-sections__block {
        grid-column: 1;
        grid-row: 1 / 3;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
    }

    .popular-sections__blocks>.popular-sections__block:nth-of-type(2) {
        grid-row: 1;
        grid-column: 2;
    }

    .popular-sections__blocks>.popular-sections__block:nth-of-type(3) {
        grid-row: 3;
        grid-column: 1;
    }

    .popular-sections__blocks>.popular-sections__block:nth-of-type(4) {
        grid-row: 2/4;
        grid-column: 2;
    }

    .popular-sections__blocks>.popular-sections__block:nth-of-type(5) {
        grid-row: 4;
        grid-column: 1/3;
        background-position: top;
    }


    .footer-links {
        padding: 55px calc((100% - 380px) / 2) 105px;
    }

    .footer-additionally__links {
        gap: 15px;
        margin: 0 15px;
    }

    /* hotels.html */
    .filter-buttons {
        padding: 0 0;
        justify-content: center;
    }

    .choice-hotel__blocks {
        margin-top: 25px;
    }

    .choice-hotel__blocks-block {
        width: 380px;
        grid-template-columns: 100%;
        grid-template-rows: 370px 454px;
        gap: 28px;
    }

    .choice-hotel__blocks-block__information {
        grid-row: 2;
        height: 100%;
        width: 340px;
        padding: 0 20px;
    }

    .choice-hotel__blocks-block__information p {
        width: 335px;
    }

    .choice-hotel__blocks-block__information button {
        right: 48px;
    }

    .choice-hotel__more-offers {
        margin: 0;
    }

    /* directions.html */

    .directions>p {
        padding: 0;
        text-align: center;
    }

    .directions-blocks {
        grid-template-columns: 122px 122px 122px;
        grid-template-rows: 69px 76px 101px 256px 123px;
        gap: 6px;
        margin-bottom: 200px;
    }

    .directions-blocks__block:nth-child(1) {
        background-image: url('img/directions/europe.png');
        grid-column: 1/3;
        grid-row: 1/4;
    }

    .directions-blocks__block:nth-child(2) {
        background-image: url('img/directions/asia.png');
        grid-column: 3;
        grid-row: 1;
    }

    .directions-blocks__block:nth-child(3) {
        background-image: url('img/directions/afrika.png');
        grid-column: 3;
        grid-row: 2;
    }

    .directions-blocks__block:nth-child(4) {
        background-image: url('img/directions/australia.png');
        grid-column: 3;
        grid-row: 3;
    }

    .directions-blocks__block:nth-child(5) {
        background-image: url('img/directions/west-america.png');
        grid-column: 1;
        grid-row: 4;
    }

    .directions-blocks__block:nth-child(6) {
        background-image: url('img/directions/middle-east.png');
        grid-column: 2;
        grid-row: 4;
    }

    .directions-blocks__block:nth-child(7) {
        background-image: url('img/directions/north-america.png');
        grid-column: 3;
        grid-row: 4;
    }

    .directions-blocks__block:nth-child(8) {
        background-image: url('img/directions/middle-america.png');
        grid-column: 1/4;
        grid-row: 5;
    }

    /* travel-guide.html */
    .travel-guide>p {
        padding: 0;
        text-align: center;
    }

    .travel-guide__more-offers {
        margin: 0;
    }

    .travel-guide__blocks-block {
        width: 340px;
    }

    .travel-guide__blocks-block__information p {
        width: 340px;
        height: 240px;
    }
}